.page {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.navbar {
    background-color: #abbbc9;
}
.main {
    background-image: url("../images/neuroart__in.7fligu..png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
.popup1 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}
.popup1__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup1__content {
    background-color: #fff;
    color: #000;
    max-width: 60%;
    padding: 20px;
    position: relative;
}
.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.fixed-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 40px;
    /*    border: 1px solid black;*/
}
.fixed-container > img {
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 10px 10px #000;
}
.fixed-container > div {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    justify-content: center;*/
    /*    border: 1px solid yellowgreen;*/
    background-color: #7b8ba3;
    box-shadow: 5px 5px 10px 10px #000;
}
