.page {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.navbar {
    background-color: #abbbc9;
}
.main {
    background-image: url("../images/neuroart__in.7fligu..png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
}